<div class="info">
  <table>
    <tr>
      <td class="key">IP</td>
      <td class="value"><%= @location.ip %></td>
    </tr>
    <tr>
      <td class="key">City</td>
      <td class="value"><%= @location.city %></td>
    </tr>
    <tr>
      <td class="key">Region Name</td>
      <td class="value"><%= @location.region_name %></td>
    </tr>
    <tr>
      <td class="key">Region Code</td>
      <td class="value"><%= @location.region_code %></td>
    </tr>
    <tr>
      <td class="key">Metrocode</td>
      <td class="value"><%= @location.metrocode %></td>
    </tr>
    <tr>
      <td class="key">Zipcode</td>
      <td class="value"><%= @location.zipcode %></td>
    </tr>
    <tr>
      <td class="key">Latitude</td>
      <td class="value"><%= @location.latitude %></td>
    </tr>
    <tr>
      <td class="key">Longitude</td>
      <td class="value"><%= @location.longitude %></td>
    </tr>
    <tr>
      <td class="key">Country Name</td>
      <td class="value"><%= @location.country_name %></td>
    </tr>
    <tr>
      <td class="key">Country Code</td>
      <td class="value"><%= @location.country_code %></td>
    </tr>
    <tr>
      <td class="key">Time Zone</td>
      <td class="value"><%= @location.time_zone %></td>
    </tr>
    <tr>
      <td class="key">User Agent</td>
      <td class="value"><%= @location.user_agent %></td>
    </tr>
    <tr>
      <td class="key">Date</td>
      <td class="value"><%= Time.zone.parse(@location.created_at.to_s).localtime %></td>
    </tr>
  </table>
</div>

<%= content_tag('div', '', id: 'map', data: { marker: @marker }) %>

<div class="actions">
  <%= link_to 'Back', admin_locations_path %> /
  <%= link_to 'Delete', '#' %>
</div>
